* {
    font-family: Roboto;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px 20px 200px;
}

.hero_section {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 200px 80px 200px;
}

.italic {
    background-color: #e5e7eb;
}

.call_to_action {
    background-color: #3882f6;
    color: white;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
}

button {
    background-color: #3882f6;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
}

.service {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 40px;
    color: #1f2937;
}

.simage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.italic {
    text-align: center;
}

.call_to_action {
    display: flex;
    justify-content: space-between;
    margin: 70px 200px 70px 200px;
    padding: 50px 70px 50px 70px;
    border-radius: 10px;
    align-items: center;
}

.hero_text {
    max-width: 500px;
}

.hero_image {
    height: 200px;
    width: 400px;
    object-fit: cover;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero_button {
    padding: 6px 10px 6px 10px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
}

.logo {
    font-size: 24px;
}

.cimage {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.simage {
    align-items: center;
}

.service_section {
    padding: 50px 200px 70px 200px;
}

.stext {
    max-width: 220px;
    margin-top: 20px;
    color: #1f2937;
}

.stext .shead {
    font-weight: bold;
}

.italic {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    padding: 70px 200px 70px 200px;
}

.callto .calltohead {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5px;
}

.action {
    border: 3px solid white;
    border-radius: 5px;
    padding: 8px 25px 8px 25px;
}

.action button {
    font-weight: bold;
    font-size: 15px;
}

footer {
    padding: 30px 0px 30px 0px;
}